* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { 
    --hover-background-color: #ECE8DB;
    --hover-text-color: #687030;
    --primary-color: #2c3b4b;
}

/* Main CSS */

body {
    font-family: 'Karla', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

/* Navbar */
#header {
    height: 60px;
    background-color: #fffef7;
    border-bottom: 2px solid #e2dfd0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#top-nav {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#top-nav > li {
    position: relative;
    display: inline-block;
}

#top-nav > li > a {
    color: var(--primary-color);
}

#top-nav li a {
    font-size: 16px;
    text-decoration: none;
    line-height: 60px;
    text-transform: uppercase;
    padding: 0 30px;
    font-weight: 600;
    display: block;
}

#top-nav > li:hover > a,
.sub-top-nav li:hover a {
    color: var(--hover-text-color);
    background-color: var(--hover-background-color);
}

#top-nav > li:hover .sub-top-nav {
    display: block;
}

#top-nav .sub-top-nav {
    display: none;
    top: 102%;
    left: 0;
    position: absolute;
    background-color: #fffef7;
    border: 2px solid #e2dfd0;
    min-width: 160px;
    box-shadow: 4px 4px #2c3b4b;
    list-style-type: none;
}

#top-nav .sub-top-nav a {
    padding: 0 8px;
    line-height: 40px;
}

#top-nav .sub-category {
    color: #2c3b4b;
}

#header #header-cart-btn {
    float: right;
    padding: 0 20px;
    margin: 0 20px 0 0; 
    /* 0 200 0 0 */
}

#header #header-cart-btn:hover,
#header #header-search-btn:hover {
    background-color: var(--hover-background-color);
    color: var(--hover-text-color);
    cursor: pointer;
}

#header .cart-icon, 
#header .search-icon {
    font-size: 20px;
    line-height: 60px;
}

#header #header-search-btn {
    float: right;
    padding: 0 20px;
}

/* #header #bottom-nav {
    background-color: var(--hover-text-color);
} */

/* Slider */
#slider {
    /* background-color: grey; */
    height: 1000px;
    margin-top: 60px;
}

